.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background: #060606;
    box-shadow: 0px 2px 15px rgba(0,0,0,0.3);
}

.logo{
    color: #C8A96B;
    font-weight: 900;
    font-size: 30px;
    letter-spacing: 2px;
}

.nav-links{
    display: flex;
    gap: 25px;
}

.nav-links a{
    text-decoration: none;
    color: #C8A96B;
    font-size: 16px;
    transition: 0.3s;
    font-weight: 700;
    position: relative;
}

.nav-links a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background: #e3ae44;
    transition: 0.3s;
}

.nav-links a:hover::after{
    width: 100%;
}

.nav-links a:hover{
    color: white;
}

/* NAV ICONS */
.nav-icons{
    display: flex;
    align-items: center;
    gap: 20px;
}

/* ADVANCED CART BUTTON */
.cart-btn{
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;

    padding: 12px 22px;

    background: linear-gradient(135deg, #e3ae44, #c89116);

    color: black;
    text-decoration: none;

    border-radius: 50px;

    font-weight: 800;
    font-size: 15px;

    transition: 0.3s;

    box-shadow: 0px 5px 15px rgba(227,174,68,0.4);
}

/* CART HOVER */
.cart-btn:hover{
    transform: translateY(-3px);
    box-shadow: 0px 8px 20px rgba(227,174,68,0.6);
    background: linear-gradient(135deg, #f3c96a, #d99d1d);
}

/* CART ICON */
.cart-icon{
    font-size: 22px;
}


.cart-btn:active{
    transform: scale(0.96);
}