<nav class="navbar">

  <h2 class="logo">GLOW-LAB</h2>

  <div class="nav-links">

    <a routerLink="">Home</a>

    <a routerLink="/products">Products</a>

<a routerLink="/contacts">Contacts</a>
<a routerLink="/About">About</a>






  </div>

  <div class="nav-icons">


    <a routerLink="/login" class="icon login-icon">
      👤
    </a>

    <a routerLink="/cart" class="icon cart-icon">

     <button>Cart</button>

     @if (count > 0) {
      <span class="cart-badge">
        {{ count }}
      </span>
    }

    </a>

  </div>

</nav>