.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 40px;
  background:#000;
}

.logo{
  color:#C8A96B;
  font-size:28px;
  font-weight:900;
  letter-spacing:2px;
}

.nav-links{
  display:flex;
  gap:30px;
}

.nav-links a{
  text-decoration:none;
  color:#C8A96B;
  font-weight:700;
  transition:0.3s;
}

.nav-links a:hover{
  color:white;
}

/* ICON CONTAINER */
.action-buttons{
  display:flex;
  align-items:center;
  gap:25px;

  background:#C8A96B;
  padding:12px 25px;
  border-radius:50px;

  box-shadow:0 4px 15px rgba(0,0,0,0.2);
}

/* ICONS */
.icon{
  color:rgb(9, 9, 9);
  font-size:22px;
  text-decoration:none;
  background:none;
  border:none;
  cursor:pointer;
  transition:0.3s ease;
}

.icon:hover{
  transform:scale(1.15);
}

.logout-btn{
  padding:0;
}

/* CART */
.cart-icon{
  position:relative;
}

.cart-badge{
  position:absolute;
  top:-8px;
  right:-10px;

  width:18px;
  height:18px;

  border-radius:50%;
  background:red;
  color:white;

  display:flex;
  justify-content:center;
  align-items:center;

  font-size:11px;
  font-weight:bold;
}