.contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    padding: 80px 60px;
    background: #FFFDF9;
  }
  
  
  .info {
    flex: 1;
    color: #070101;
  }
  
  .info h2 {
    font-size: 40px;
    margin-bottom: 20px;
    font-style: italic;
    color: #050505;
  }
  
  .info p {
    color: #555;
    line-height: 1.8;
    margin-bottom: 15px;
  }
  
  
  .form {
    flex: 1;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  
    background: white;
    padding: 35px;
    border-radius: 15px;
  
    box-shadow: 0 10px 30px rgba(0,0,0,0.08);
  }
  
  .message,
  textarea {
    min-height: 150px;
  }
  
  
  input,
  textarea {
    padding: 14px;
    border: 1px solid #C8A96B;
    border-radius: 10px;
    width: 100%;
    font-size: 15px;
    outline: none;
    transition: 0.3s;
    box-sizing: border-box;
  }
  
  input:focus,
  textarea:focus {
    border-color: #a88646;
    box-shadow: 0 0 8px rgba(200,169,107,0.3);
  }
  
  
  button {
    background: #050505;
    border: none;
    padding: 14px;
    border-radius: 15px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 16px;
    transition: 0.3s;
  }
  
  button:hover {
    background: #C8A96B;
    transform: translateY(-2px);
  }
  
  
  @media (max-width: 992px) {
    .contact {
      padding: 60px 30px;
      gap: 40px;
    }
  }
  
  
  @media (max-width: 768px) {
    .contact {
      flex-direction: column;
      text-align: center;
      padding: 50px 20px;
      gap: 40px;
    }
  
    .info,
    .form {
      width: 100%;
      max-width: 100%;
    }
  
    .info h2 {
      font-size: 32px;
    }
  }
  
 
  @media (max-width: 480px) {
    .contact {
      padding: 40px 15px;
    }
  
    .info h2 {
      font-size: 28px;
    }
  
    input,
    textarea,
    button {
      font-size: 14px;
    }
  }