<section class="categories">

  <div class="category" (click)="filterByCategory('all')">
    <img src="https://i.pinimg.com/736x/13/ae/69/13ae694853fb644431163e5421b198be.jpg">
    <p>All</p>
  </div>

  <div class="category" (click)="filterByCategory('face')">
    <img src="https://i.pinimg.com/736x/3a/e1/06/3ae1067e1be6aaa7b7061a885264521d.jpg">
    <p>Face</p>
  </div>

  <div class="category" (click)="filterByCategory('eyes')">
    <img src="https://i.pinimg.com/1200x/1b/e0/55/1be055ea4554f4bf2ede4fca7c16c088.jpg">
    <p>Eyes</p>
  </div>

  <div class="category" (click)="filterByCategory('Lips')">
    <img src="https://i.pinimg.com/1200x/7d/71/48/7d7148ab9850cbe83962a959bcbebf57.jpg">
    <p>Lips</p>
  </div>

  <div class="category" (click)="filterByCategory('skincare')">
    <img src="https://i.pinimg.com/736x/3a/fe/85/3afe85f281344a0baba784dda8b41800.jpg">
    <p>Skincare</p>
  </div>

</section>

<section class="products">
  <h2>Products</h2>

  <div class="search-product">

    <input
  type="text"
  placeholder="Search product..."
  [(ngModel)]="searchText"
  (input)="searchProduct()"
/>

    <button (click)="searchProduct()">
      Search
    </button>

  </div>



  <div class="product-grid">

    <div class="card" *ngFor="let product of filtered">

     
      <img [src]="product.image" (click)="openProduct(product)" />

      <div class="card-content">

        <h3>{{ product.name }}</h3>
        <p>{{ product.description }}</p>

        <p class="price">R{{ product.price }}</p>

        <button class="button" (click)="addToCart(product)">
          Add To Cart
        </button>

      </div>

    </div>

  </div>
  <!-- PRODUCT MODAL -->
<div class="modal-backdrop" *ngIf="isModalOpen" (click)="closeModal()">

  <div class="modal-content" (click)="$event.stopPropagation()">

    <img [src]="selectedProduct?.image" />

    <h2>{{ selectedProduct?.name }}</h2>

    <p>{{ selectedProduct?.description }}</p>

    <p class="price">R{{ selectedProduct?.price }}</p>

    <button (click)="addToCartFromModal(selectedProduct)">
      Add to Cart
    </button>

    <button class="close" (click)="closeModal()">X</button>

  </div>

</div>
</section>