/* =========================
   HERO SECTION
========================= */
.hero{
  position: relative;
  height: 90vh;
  display: flex;
  align-items: center;
  padding-left: 80px;
  background: url('https://images.pexels.com/photos/37575400/pexels-photo-37575400.jpeg') center/cover no-repeat;
  color: rgb(6, 1, 1);
}


/* =========================
   HERO TEXT
========================= */
.hero-text{
  position: relative;
  z-index: 1;
  max-width: 500px;
}

.hero-text h1{
  font-size: 52px;
  line-height: 1.1;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.hero-text p{
  font-size: 20px;
  margin-bottom: 30px;
  color: rgb(6, 1, 1);;
}

/* =========================
   BUTTON
========================= */
.hero button{
  padding: 15px 30px;
  border: none;
  background: linear-gradient(135deg, #111, #333);
  color: white;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.hero button:hover{
  background: linear-gradient(135deg, #c89b5c, #b07f67);
  transform: translateY(-3px);
}

/* =========================
   RESPONSIVE
========================= */
@media (max-width: 900px){
  .hero-text h1{
    font-size: 40px;
  }
}

@media (max-width: 600px){
  .hero{
    padding-left: 20px;
    justify-content: center;
    text-align: center;
  }

  .hero-text{
    max-width: 90%;
  }

  .hero-text h1{
    font-size: 32px;
  }

  .hero-text p{
    font-size: 16px;
  }
}